{% extends 'base.html' %}

{% block title %}
    <title>Вход</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-head">Вход</h2>
        <div class="row justify-content-center align-items-center">
            <div class="card text-white bg-dark col-lg-6">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.errors}}
                        <label>{{ field.label }}</label>
                        <p>{{ field }}</p>
                    {% endfor %}
                    <p>
                        <button type="submit" class="btn btn-secondary">Войти</button>
                    </p>
                </form>
                {% if form.errors %}
                    <p>Введены не верные данные, оба поля чуствительны к регистру.</p>
                {% endif %}
                <a href="{% url 'signup' %}">Не зарегестрированы?</a>
            </div>
        </div>
    </div>

{% endblock %}
